.valid {
  border-color: green;
}

.invalid {
  border-color: red;
}

.all{
  padding-top: 25mm;
  padding-bottom: 25mm;
  background: linear-gradient(to bottom, #7A95B0 0%, #1D3E6E) ;
  font: 1em sans-serif;
  color: white;
}

