.valid {
  border-color: green;
}

.invalid {
  border-color: red;
}

.all{
  background: linear-gradient(to bottom, #7A95B0 0%, #1D3E6E) ;
  font: 1.5em sans-serif;
  color: white;
  float: center;
}
