<div class="row">
  <div class="col-md-3">
    <div class="row">
      <h1>Register</h1>
    </div>
    <div class="row">
      <form [formGroup]="registationForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="firstName" class="form-label">First Name</label>
          <input type="text" class="form-control" id="firstName" placeholder="Enter your First Name" name="firstName"
            formControlName="firstName">
        </div>
        <div class="mb-3">
          <label for="lastName" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="lastName" placeholder="Enter your Last Name" name="lastName"
            formControlName="lastName">
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email Address</label>
          <input type="text" class="form-control" id="email" placeholder="Enter your Email" name="email"
            formControlName="email">
        </div>
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username"
            formControlName="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Enter your password" name="password"
            formControlName="password">
        </div>
        <div class="mb-3">
          <button type="submit" [disabled]="!registationForm.valid" class="btn btn-primary">
            Sign up
          </button>
          <a routerLink="/" class="ms-2">
            <button class="btn btn-warning">Cancel</button>
          </a>
        </div>
      </form>
    </div>

  </div>
</div>
