.all {
    background: linear-gradient(to bottom, #7A95B0 0%, #1D3E6E) ;
    background-size: cover;
    font: 1em sans-serif;
    color: white;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
  }

  .card-header, .card-body{
    color: #000;
  }
