<div class="row justify-content-center h-75 mt-2">
    <div class="col-md-12 border border-secondary">
        <div class="d-flex justify-content-center mt-lg-1">
            <div>
                <a>
                    <button class="btn btn-outline-secondary"><i class="fas fa-car fa-fw me-1"></i>Cars</button>
                </a>
            </div>
            <div>
                <a>
                    <button class="btn btn-outline-secondary"><i class="fas fa-tv fa-fw me-1"></i>Electronics</button>
                </a>
            </div>
            <div>
                <a>
                    <button class="btn btn-outline-secondary"><i
                            class="fa-solid fa-shirt fa-fw me-1"></i>Fashion</button>
                </a>
            </div>
            <div>
                <a>
                    <button class="btn btn-outline-secondary"><i
                            class="fa-solid fa-bicycle fa-fw me-1"></i>Sports</button>
                </a>
            </div>
            <div>
                <a>
                    <button class="btn btn-outline-secondary"><i class="fa-solid fa-gifts me-1"></i>Other</button>
                </a>
            </div>
        </div>
    </div>
</div>