<div class="row justify-content-center h-75 mt-2">
    <div class="col-md-8 border border-secondary">
        <div class="d-flex justify-content-center">
            <div>
                <a>
                    <button class="btn btn-outline-secondary">Cars</button>
                </a>
            </div>
            <div>
                <a>
                    <button class="btn btn-outline-secondary">Electronics</button>
                </a>
            </div>
            <div>
                <a>
                    <button class="btn btn-outline-secondary">Fashion</button>
                </a>
            </div>
            <div>
                <a>
                    <button class="btn btn-outline-secondary">Sports</button>
                </a>
            </div>
            <div>
                <a>
                    <button class="btn btn-outline-secondary">Toys</button>
                </a>
            </div>
            <div>
                <a>
                    <button class="btn btn-outline-secondary">Other</button>
                </a>
            </div>
        </div>
    </div>
</div>