<div *ngIf="(isAdsNotFound$ | async) === false">
  <div *ngIf="advertToUpdate">
    <h1 class="text-center">Edit Advertisement</h1>
  </div>
  <div *ngIf="!advertToUpdate">
    <h1 class="text-center">Create new Advertisement</h1>
  </div>
</div>
<app-ads-create-update-form *ngIf="(isAdsNotFound$ | async) === false" [advetisementToUpdated]="advertToUpdate"
  [isEditMode]="isInEditMode" (formSubmission)="onFormSubmission($event)" [currentUser]="(currentUser$ | async)!">
</app-ads-create-update-form>
