.contentArea {
  min-height: 80vh;
  /* border: solid 2px blueviolet; */
}

app-footer {
  padding-left: 0;
  padding-right: 0;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}




