<div class="row">
  <div class="col-md-3">
    <div class="row">
      <h1>Log-in:</h1>
    </div>
    <div class="row">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" placeholder="Enter your username" name="username"
            formControlName="username">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input class="form-control" id="password" placeholder="Enter your password" id="password" name="password"
            formControlName="password">
        </div>
        <div class="mb-3">
          <button type="submit" [disabled]="!loginForm.valid" class="btn btn-primary">
            Log-in
          </button>
        </div>
      </form>
    </div>

  </div>
</div>
