.valid {
  border-color: green;
}

.invalid {
  border-color: red;
}

.all {
  min-height: 100vh !important;
  background-image: url(/assets/space-nebula-stars-space-art.jpg);
  background-image: cover;
  padding-top: 25mm;
  padding-bottom: 25mm;
  color: white;
}
