<div class ="all">
  <div class="row h-100 d-flex justify-content-center mt-2">
  <div class="col-md px-0">
    <div class="row justify-content-center">
      <div class="col-lg-4 ">
        <div class="">
          <img src="/assets/ecommerce.jpg" alt="ECommerce Picture" class="h-100 w-100 img-fluid">
        </div>
      </div>
      <div class="col-lg-4 d-flex flex-column justify-content-center ps-md-0 pe-md-4">
        <div class="">
          <img src="/assets/CBSC.png" alt="CB&S Logo" class="h-100 w-100 img-fluid">
        </div>
      </div>
    </div>
    <div class="row featureAdsNav mb-3">
      <app-featured-ads-nav (featCarSelected)="onSelectCarAds()" (featElectronicsSelected)="onSelectElectronicsAds()"
        (featFashionSelected)="onSelectFashionAds()" (featSportsSelected)="onSelectSportsAds()"
        (featOthersSelected)="onSelectOthersAds()"></app-featured-ads-nav>
    </div>
    <div class="row text-center mt-4 mb-3 mt-lg-0">
      <h1>Featured Ads</h1>
    </div>
    <div>
      <app-spinner *ngIf="(isApiLoading$ | async) === false"></app-spinner>
    </div>
    <div class="row d-flex-lg justify-content-center listArea">
      <div class=" col-lg-10">
        <app-advertisements-list [advertisments]="advertisements$ | async"></app-advertisements-list>
      </div>
    </div>
  </div>
</div>
