.featureAdsNav {
    min-height: 8%;
}
.listArea {
    min-height: 40vh;
}

.all {
  background: linear-gradient(to bottom, #7A95B0 0%, #1D3E6E) ;
  font: 1em sans-serif;
  color: white;
  min-height: 100%;
  min-width: 1024px;
}

