<!-- TODO: Homepage needs redesign -->
<div class="row h-100 d-flex justify-content-center mt-2">
  <div class="col-md-10 border border-danger">
    <div class="row justify-content-center">
      <div class="col-lg-4 border border-danger">
        <div class="border border-primary ">
          <img src="/assets/ecommerce.jpg" alt="ECommerce Picture" class="h-100 w-100 img-fluid">
        </div>
      </div>
      <div class="col-lg-4 border border-secondary d-flex flex-column justify-content-center ps-md-0 pe-md-4">
        <div class="border border-primary">
          <img src="/assets/CBSC.png" alt="CB&S Logo" class="h-100 w-100 img-fluid">
        </div>
      </div>
    </div>
    <div class="row border border-danger featureAdsNav">
      <app-featured-ads-nav></app-featured-ads-nav>
    </div>
  </div>
</div>
