.all {
  background: linear-gradient(to bottom, #7A95B0 0%, #1D3E6E) ;
  font: 1em Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
}


