.all {
  background: linear-gradient(to bottom, #900001 0%, #FE3533 ) ;
  font: 1.3em Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
  height: 100%;
  width: 100%;
  margin: 0;
}


